$cBase: #fff;
$cMain: #192f60;
$cText: #2d2d2d;
$cText2: #333333;
$cAccent: #20868a;
// $bgImg: url('../../img/bgi_suisai2.png');
// $bgImg-sm: url('../../img/bgi_suisai2_small.png');
// $bgImgFooter: url('../../img/bgi_suisai3.png');
$fontPrimary: 'Heisei Kaku Gothic Std', sans-serif;
$fontSecondary: 'Arial', sans-serif;
$fontJa: 'Inter', sans-serif;
