/* section15 */
/* .google-fonts {
  font-family: "Noto Sans JP", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */

/* section16 */
/* .parent {
  height: 300px;
  width: auto;
  background-color: yellow;
}
.child {
  height: 50%;
  width: 80%;
  max-width: 600px;
  background-color: orange;
} */
/* #one {
  height: auto;
  background-color: yellow;
}
#two {
  height: auto;
  background-color: orange;
} */
/* #three {
  height: auto;
  min-height: 100px;
  background-color: pink;
}
#one {
  height: auto;
  background-color: yellow;
}
#two {
  height: auto;
  max-height: 100px;
  background-color: orange;
} */
/* p {
  border: solid 5px yellow;
  padding: 10px;
  margin: 10px;
} */

/* #second-paragraph {
  padding: 10px;
  margin: 10px;
  border: solid 5px yellow;
} */
/* #first-paragraph {
  padding: 100px;
  background-color: yellow;
}
#second-paragraph {
  margin: 100px;
  background-color: orange;
}
#third-paragraph {
  padding: 50px;
  margin: 50px;
  background-color: pink;
} */
/* p {
  background-color: yellow;
}
#first-span {
  background-color: lightblue;
  padding: 0 20px;
}
#second-span {
  padding: 0 30px;
  background-color: lightgreen;
}
#third-span {
  padding: 0 40px;
  background-color: lightgray;
} */
/* #first-div { */
/* display: inline-block; */
/* width: 100px;
  height: 100px; */
/* padding: 10px;
  margin: 10px; */
/* background-color: orange;
}
#second-div { */
/* display: inline-block; */
/* width: 100px;
  height: 100px; */
/* padding: 20px;
  margin: 20px; */
/* background-color: yellow;
}
#third-div {
  position: relative;
  top: 50px;
  left: 50px; */
/* display: inline-block; */
/* width: 100px;
  height: 100px; */
/* padding: 30px;
  margin: 30px; */
/* background-color: pink;
} */
/* #fourth-div {
  width: 100px;
  height: 100px;
  padding: 40px;
  margin: 40px;
  background-color: yellow;
}
#first-paragraph {
  background-color: yellow;
}
#second-paragraph {
  display: none;
  background-color: orange;
}
#third-paragraph {
  background-color: pink;
} */
/* .parent {
  position: relative;
  height: 400px;
  background-color: lightcyan;
}
#first-div {
  width: 100px;
  height: 100px;
  background-color: orange;
}
#second-div {
  width: 100px;
  height: 100px;
  background-color: yellow;
}
#third-div {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 100px;
  height: 100px;
  background-color: pink;
} */
/* .parent {
  height: 2000px;
  background-color: lightcyan;
}
.child {
  position: fixed;
  bottom: 0;
  left: 100px;
  width: 100px;
  height: 100px;
  background-color: orange;
}
.background {
  height: 2000px;
  background-color: honeydew;
} */
/* h1::before {
  content: "◆";
  color: orange;
}
h1::after {
  content: "■";
  color: pink;
} */
/* p::first-letter {
  
  font-size: 24px;
  font-weight: bold;
} */
/* p::first-line {
  font-size: 24px;
  font-weight: bold;
  color: gray;
} */
/* .parent {
  background-color: whitesmoke;
}
a:link {
  color: orange;
}
a:visited {
  color: green;
}
a:hover {
  color: purple;
}
a:active {
  color: red;
}
.parent p:nth-child(4) {
  color: red;
}
.parent p:nth-of-type(4) {
  color: blue;
}
.parent :not(p) {
  color: orange;
  text-decoration: line-through;
} */
/* div {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: orange;
}
@media screen and (max-width: 768px) {
  div {
    display: block;
  }
} */
.flexbox-container {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* flex-flow: row wrap; */
  /* justify-content: center; */
  /* align-items: flex-end; */
  /* align-content: space-between; */
  /* height: 500px; */
  padding: 5px;
  background-color: lightcyan;
}
.flexbox-item {
  padding: 5px;
  margin: 5px;
  background-color: orange;
}
/* #item01 {
  order: 5;
}
#item02 {
  order: 6;
}
#item03 {
  order: 7;
}
#item04 {
  order: 8;
}
#item05 {
  order: 1;
}
#item06 {
  order: 2;
} */
#item07 {
  /* order: 3; */
  /* flex-grow: 1; */
}
#item08 {
  /* order: 4; */
  /* flex-grow: 2; */
}
