body {
  color: #000000;
  background-color: #ffffff;
  font-family: "Noto Sans JP", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.inner {
  margin: 0 20%;
}

/* ヘッダー */
.header-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 35px 15%;
  font-size: 38px;
  align-items: center;
}
.nav-list {
  display: flex;
  font-size: 34px;
}
.nav-list li {
  padding-right: 18px;
  &:last-child {
    padding-right: 0px;
  }
  &:hover {
    text-decoration: underline;
  }
}
.site-title {
  border: 1px solid;
  padding: 5px 18px;
}

/* メインビジュアル */
.mv img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 72px;
}

/* about */

.about-wrapper,
.works-wrapper {
  margin-bottom: 87px;
}
.section-title {
  text-align: center;
  font-size: 34px;
  margin-bottom: 50px;
}

.about-left img {
  border-radius: 50%;
}
.about-contents {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-right {
  padding-left: 121px;
}
.about-name {
  font-size: 24px;
  padding-bottom: 18px;
}
.about-text {
  padding-left: 35px;
  list-style-type: disc;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5rem;
  /* display: flex;
  justify-content: center; */
  /* align-items: center; */
}

/* works */

.works-photo-list {
  display: flex;
  justify-content: space-between;
}

.works-photo-list li {
  object-fit: cover;
  width: calc(100% / 3);
  padding-right: 16px;
  &:last-child {
    padding-right: 0;
  }
}
.works-photo-list img {
  height: 80%;
  object-fit: cover;
}
.works-photo-list p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5rem;
  padding: 5px 0;
  text-align: left;
}

/* footer */
.footer-wrapper {
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}
/* レスポンシブ */

@media screen and (max-width: 767px) {
  .header-wrapper {
    margin: 35px 3%;
    font-size: 28px;
  }
  .nav-list {
    font-size: 22px;
  }
  .inner {
    margin: 0 5%;
  }
  .about-contents {
    align-items: center;
    flex-direction: column;
    text-align: left;
  }

  .about-right {
    padding-left: 0;
  }

  .works-photo-list {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .works-photo-list li {
    object-fit: cover;
    width: 100%;
    padding-right: 0;
    padding-bottom: 44px;
    &:last-child {
      padding-bottom: 0;
    }
  }
  .works-photo-list img {
    width: 100%;
  }
  .works-photo-list p {
    text-align: center;
  }
}
